*{
    padding: 0;
}
.btn{

    background-color: black;
    color: red;
    width: 80px;
    height: 70px;
}
.btn:hover{
    background-color: pink;
}

.txt{
    
    height: auto;
    width: 25%;
    margin-bottom: 20px;
    text-align: right;
    border:red 2px solid;
   
}
.calculation{
   
   
    height: auto;
    width: 40%;

}


h1{
    color: royalblue;
    
   
   
}

@media only screen and (max-width: 900px) {
    body {
      background-color: lightblue;
    }
  }
  
@media only screen and (max-width: 900px) {
    .btn {
      width:40px;
    }
  }
